<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header.sys }}
    <main class="content">
        <div class="listheader">
            <h1>Pet Management</h1>
            <img class="icon add-btn" src="/img/add.png">
        </div>

        <ul class="listmain">
            {{#each pets}}
                <li class="pet-item" 
                    data-id="{{this.id}}" 
                    data-name="{{this.name}}" 
                    data-type="{{this.type}}" 
                    data-age="{{this.age}}">
                    {{this.name}} - {{this.type}} - {{this.age}} years old
                    {{#if (eq ../user.role "admin")}}
                        (Owner: {{this.owner}})
                    {{/if}}
                    <img class="icon edit-btn" src="/img/edit.png">
                    <img class="icon delete-btn" src="/img/trash.png">
                </li>
            {{/each}}
        </ul>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span id="close-modal" class="close">&times;</span>
                <div id="modal-body"></div>
            </div>
        </div>

    </main>

    {{> footer.sys }}
</body>
</html>
